<html>
  <head></head>
    <body>
    <h1>Chitter</h1>
      <h3>Logged in as <%=@session_user%></h3>
      <h2><a href="/peep/new">New Peep</a></h2>
      <h2>Peeps:</h2>
        <div>
          <%@peeps.each do |peep|%>
            <br>
            <%id = peep.user_id%>
            <%user = UserRepository.new.find(id)%>
            <%=user.handle%><br>
            <%=peep.content%><br>
            <%=peep.time.split(' ').join(' at ')%><br>
          <%end%>
        </div>
        <h3><a href="/login">Log in</a></h3>
    </body>
</html>