<html>
<head></head>
  <body>
    <h1>Chitter</h1>
    <h2>Log in<h2>
    <p>
      <form action="/login" method="POST">
       Your Handle:<br>
       <input type="text" name="handle"><br>
       Your Password:<br>
       <input type="password" name="password">
       <input type="submit" value="Log in">
      </form>
    </p>
  </body>
</html>