<html>
<head></head>
  <body>
    <h1>Chitter</h1>
    <h2>New Peep<h2>
    <p>
      <form action="/peep" method="POST">
       Your Handle:<br>
       <input type="text" name="handle"><br>
       Your Peep:<br>
       <input type="text" name="peep_content">
       <input type="submit" value="Peep!">
      </form>
    </p>
  </body>
</html>